#Note: The openai-python library support for Azure OpenAI is in preview.
import os
import openai
openai.api_type = "azure"
openai.api_base = "https://xhcyw.openai.azure.com/"
openai.api_version = "2023-03-15-preview"
openai.api_key = os.getenv("OPENAI_API_KEY")

response = openai.ChatCompletion.create(
  engine="0605chatgpt",
  messages = [],
  temperature=0.7,
  max_tokens=800,
  top_p=0.95,
  frequency_penalty=0,
  presence_penalty=0,
  stop=None)


# Your openai api key. (required)
OPENAI_API_KEY=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

# Access passsword, separated by comma. (optional)
CODE=04112410zjj

# You can start service behind a proxy
PROXY_URL=http://localhost:7890

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=https://xhcyw.openai.azure.com/openai/deployments/0605chatgpt/chat/completions?api-version=2023-03-15-preview

# Specify OpenAI organization ID.(optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=1
